# ---- артефакты сборки ----
Builds/**/x64/
Builds/**/Win32/
Builds/**/Debug/
Builds/**/Release/
[Bb]in/
[Oo]bj/
*.exe
*.dll
*.lib
*.exp
*.pdb
*.ilk
*.obj
*.res
*.pch
*.user
*.suo
.vs/

# ---- ОС / редактор ----
Thumbs.db
.DS_Store
*.tmp